* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  background-color: #000;
}

div.container {
  width: 1000px;
  background-color: #FED049;
  margin: 20px auto;
  font-size: 0px;
}

div.item {
  padding: 20px;
  display: inline-block;
  margin: 15px;
  width: calc((100% - 4*30px)/4);
  font-family: Times New Roman;
  font-size: 20px;
  line-height: 23px;
  color: #fff;
  vertical-align: middle;
}

div.item:nth-child(odd) {
  background-color: #007580;
}

div.item:nth-child(even) {
  background-color: #282846;

}