section.client {
  background-color: #fff;
  padding: 40px 144px 25px 144px var(--padding-section);
}

div.client-wrapper {}

div.client-wrapper h4 {
  font-family: "Inter";
  font-size: 36px;
  font-weight: 600;
  text-align: center;
  margin-bottom: 8px;
}

div.client-wrapper p {
  font-family: "Inter";
  font-size: 16px;
  font-weight: 400;
  text-align: center;
  margin-bottom: 16px;
}

div.icon {
  display: flex;
  justify-content: space-between;
}