section.nexcent {
  background-color: #263238;
  padding: 64px 165px var(--padding-section);
  color: #fff;
}

div.nexcent-wrapper {
  display: flex;
  justify-content: space-between;
  gap: 125px;
}

div.nexcent-list-left {
  width: 350px;
}

div.nexcent-list-left a {
  display: inline-block;
  font-family: "Inter";
  font-size: 35px;
  font-weight: 600;
  text-align: center;
  margin-bottom: 40px;
}

div.nexcent-list-left a img {
  display: inline-block;
  color: #fff;
}

div.nexcent-list-left div.text p {
  font-family: "Inter";
  font-size: 14px;
  font-weight: 400;
  text-align: left;
  margin-bottom: 8px;
  color: rgba(245, 247, 250, 1);

}

div.nexcent-list-left div.text p:last-child {
  margin-bottom: 40px;
}

div.nexcent-list-left-icon {
  color: #fff;
  display: flex;
  justify-content: unset;
  gap: 16px;
}

div.nexcent-list-left-icon a {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background-color: #67616171;
  /* opacity: 10%; */
  font-size: 20px;
  padding: 4px;
}

/* div.nexcent-list-left-icon a i {
  opacity: 100%;
} */

div.nexcent-list-right {
  display: flex;
  justify-content: space-between;
  gap: 30px;
}

div.nexcent-list-right div.item {
  width: 160px;
}

div.nexcent-list-right div.item h6 {
  font-family: "Inter";
  font-size: 20px;
  font-weight: 600;
  text-align: left;
  margin-bottom: 24px;
}

div.nexcent-list-right div.item p {
  font-family: "Inter";
  font-size: 14px;
  font-weight: 400;
  text-align: left;
  margin-bottom: 12px;
  color: rgba(245, 247, 250, 1);

}

div.nexcent-list-right div.item-email {
  width: 225px;
  color: #fff;
}

div.nexcent-list-right div.item-email h6 {
  font-family: "Inter";
  font-size: 20px;
  font-weight: 600;
  line-height: 28px;
  text-align: left;
  margin-bottom: 24px;
}

div.item-input {
  position: relative;
}

div.nexcent-list-right div.item-email input {
  width: 100%;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 8px;
  padding-top: 9px;
  padding-left: 12px;
  padding-bottom: 11px;
  border: none;
  border: 1px;

}

div.item-input button {
  position: absolute;
  right: 10%;
  top: 25%;
  height: 0px;
  width: 0px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.2);
  color: #fff;
  border: none;
}

input::placeholder {
  color: rgba(217, 219, 225, 1);

}